main{
	display: flex;
	justify-content: space-between;
	margin-top:85px;
}
.left-side,.right-side{
	width: 25%;
	height: 110vh;
	background-color: khaki	;
}
.main-text{
	font-size: 25px;
	font-weight: bold;
}
.table{
	margin-top: 10px;
	border-collapse: collapse;
}
#title{
	align-items: center;
	height: 40px;
	text-align: start;
	background-color: rgba(60, 65, 55, 0.384);
}
.center-side{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 5px 20px 0 20px;
	
}
.country_name{
	background-color: rgb(240, 128, 128);
	/*rgba(116, 54, 54, 0.582);*/
}
.second-title{
	width: 170px;
}
.table__text{
font-size: 20px;
padding: 5px;
border: 1px solid rgb(0, 0, 0);
}